<div id="view_docs" data-role="Page" class="twelve columns partnerName area viewcontainer">
    <div class="main">
	    <div id="documents" class="resources doc-wrapper">                        
		    <ul id="docList" data-bind="{context: 'allDocs'}" class="list">
		        <li id="doc{path: 'id'}" data-item><a href="{path: 'path'}" target="_blank" data-offline="{path: 'name'}" data-events="{click: '_resourceClicked'}" class="{path: 'type'}">{path: 'title'}</a></li>
		    </ul>           
	    </div>
    </div>
</div>
