<div id="view_thankYou" data-role="Page" class="twelve columns partnerName area">
        	<div class="main">
            	<h2 data-translation-id="ThankYou">Thank You</h2>
                <div class="twelve columns scrollCnt">
                	<div class="text-center">
                		<p data-translation-id="ThankYouMsg" class="templateFontColor">Thank you very much for taking part in the survey.</p>
						<a href="#" class="button push-five restart" data-translation-id="Restart" data-events="{click: '_restartClicked'}">Restart</a>
                    </div>
                 </div>
            </div>	       
</div>